<!DOCTYPE html>
<html>
<head>
  <title>Rodel Samson Medina</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">

        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="brand" href="<%= root_path%>">My Resume</a>

        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="<%= 'active' if self.action_name.eql?('index')%>">
              <a href="<%= root_path%>">Home</a>
            </li>
            <li class="<%= 'active' if self.action_name.eql?('contact')%>">
              <a href="<%= contact_path%>">Contact</a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="container main-container">
    <%= yield %>
  </div>

</body>
</html>
